body{
    background-color:black;
}

.header{
    text-align: center;
    color:white;
}

.about{
    background-color:lightgray;
}

#aboutme{
    text-align: center;
    font-size: x-large;
}

#project{
    color:white;
}

.contact{
    background-color:lightgray;
}

.container{
    height: 100vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}